<!doctype html>
<html>
  <head>
    <title>Inicio - Parchís</title>
    <link rel="icon" type="image/png" href="img/faviconParchis2.png" />
    <script src="js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/bootstrap.min.css" />
    <!--<script src="https://d3js.org/d3.v5.min.js"></script>-->
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- CONTENEDOR GRID PRINCIPAL -->
    <div class="gridIndex">

      <!-- CABECERA -->
      <div id="cabecera">
        <div id="containerUser">
            <div id="welcomeUser"></div>
        </div>
        <div id="containerOpciones">
        </div>
        
      </div>

      <!-- MENÚ -->
      <div id="menu">
        <img id="fondoMenu" src="img/fondoMenu.png" />
        <img id="logoIndex" src="img/logoParchis7.png" />
        <ul id="opcionesMenu">
          <li id="opcionJugar"><a href="/salas">Jugar</a></li>
          <!--<li id="opciones"><a href="">Opciones</a></li>-->
          <li id="comojugar">Como se juega</li>
        </ul>
      </div>
      <div id="divComoJugar">
        Para jugar debes registrarte, o si ya lo estas, identificarte clicando en Iniciar Sesión.
        Una vez te hayas logueado, tan solo has de darle al botón de Jugar, elegir una sala y
        esperar a tu contrincante. Cuando ya tengas un rival, a jugar!
        A la izquierda tienes el tablero y a la derecha un chat para poder comunicarte con tu 
        rival. 

        Este parchís se juega en la modalidad de 2 dados. Es muy similar a jugar con 1 dado.
        Moverás las fichas hasta la suma de los dos dados. Puedes mover con una ficha el número
        de un dado y con otra ficha el número del otro dado o bien mover con una sola ficha
        la suma de los dos, tu eliges. Si sacas el mismo número en los dos dados, debes volver 
        a tirar.
        Si hay un puente (ya sea tuyo o bien del rival) no puedes mover mas allá hasta que 
        éste se rompa, ya sea porque el jugador lo rompe o bien porque sacas dobles.

        Gana quien antes consiga meter sus 4 fichas en la casa de su color.
        Mucha suerte y disfruta!
      </div>

      <!-- FOOTER -->
      <div id="footerIndex">
        <div id="footer1">
          &copy; Parchís
        </div>
        <div id="creadores">
          Creado por Xavier Giménez y Sara Garcia<br />
          <div id="centrado">Proyecto 2º DAW</div>
        </div>
        <div id="github">
          <span id="titleGithub"><i class="fa fa-github" style="font-size:18px"></i> Enlaces GitHub:</span><br />
          <a id="githubProyecto" href="https://github.com/Caapri/Proyecto_Parchis.git">GitHub del proyecto</a>
          <a id="githubProyecto" href="https://github.com/xavigimmar">Xavier Giménez</a>
          <a id="githubProyecto" href="https://github.com/Caapri">Sara Garcia</a>
        </div>
      </div>

    </div>

  </body>
</html>